@model IEnumerable<Bike>

@{
    ViewData["Title"] = "Broken Wing Bike Rentals";
}

<h1>Posts</h1>
<p>
    <a asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BikeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BikeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feature)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BikeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BikeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BikeId })
                </td>
            </tr>
        }
    </tbody>
</table>
