@model RentalsListViewModel
@{ViewData["Title"] = "Bikes";
}
<h2>Bikes</h2>
<table>
    <tr>
        <th>
            TypeId
        </th>
        <th>
            BikeId
        </th>
        <th>
            RateId
        </th>
        <th>
            Location
        </th>
        <th>
            FeatureId
        </th>
    </tr>
    @foreach (var item in Model.Bikes) 
            { 
            <tr>
                <th>
                    @item.TypeId
                </th>
                <th>
                    @item.BikeId
                </th>
                <th>
                    @item.RateId
                </th>
                <th>
                    @item.Location
                </th>
                <th>
                    @item.FeatureId
                </th>
            </tr>
            }
</table>
